<!--
<settings>
    <servers>
        <server>
            <id>local-nexus</id>
            <username>admin</username>
            <password>nexus</password>
        </server>
    </servers>

    <mirrors>
        <mirror>
            <id>local-nexus</id>
            <name>Local Nexus Repository</name>
            <url>http://localhost:8081/repository/maven-public/</url>
            <mirrorOf>*</mirrorOf>
        </mirror>
    </mirrors>

    <profiles>
        <profile>
            <id>local-nexus</id>
            <repositories>
                <repository>
                    <id>local-nexus</id>
                    <url>http://localhost:8081/repository/maven-public/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
        </profile>
    </profiles>

    <activeProfiles>
        <activeProfile>local-nexus</activeProfile>
    </activeProfiles>
</settings>
-->
<settings>
    <mirrors>
        <mirror>
            <id>central</id>
            <name>central</name>
            <url>https://repo.maven.apache.org/maven2/</url>
            <mirrorOf>*</mirrorOf>
        </mirror>
    </mirrors>
</settings>
